# 4. 데이터 파일 가져오기

## 4-1. CSV 파일
* Comma Separated Value의 약자, 쉼표로 구분된 파일
* 엑셀보다 CSV가 많이 쓰임

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. URL을 통해 CSV파일 가져오기
d = pd.read_csv('http://bit.ly/ds-korean-idol')
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [3]:
# 로컬에 있는  CSV 파일 읽어오기
d2=pd.read_csv('../data/korean-idol.csv')
d2

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [7]:
# 3. 엑셀 파일 읽어오기
d3=pd.read_excel('../data/korean-idol.xlsx')
d3

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자 1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442

In [8]:
# 4. Kaggle API로 데이터 가져오기
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
Requirement already satisfied: six>=1.10 in c:\users\mirim\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in c:\users\mirim\anaconda3\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in c:\users\mirim\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in c:\users\mirim\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: tqdm in c:\users\mirim\anaconda3\lib\site-packages (from kaggle) (4.50.2)
Collecting python-slugify
  Downloading python-slugify-4.0.1.tar.gz (11 kB)
Requirement already satisfied: urllib3 in c:\users\mirim\anaconda3\lib\site-packages (from kaggle) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\mirim\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\mirim\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Building wheels for collected packages: kaggle, python-slugify
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73057 sha256=eb5f1fdbca67a886f8fc31cc556771954042514cdb9d53fec855d0a41649728d
  Stored in directory: c:\users\mirim\appdata\local\pip\cache\wheels\29\da\11\144cc25aebdaeb4931b231e25fd34b394e6a5725cbb2f50106
  Building wheel for python-slugify (setup.py): started
  Building wheel for python-slugify (setup.py): finished with status 'done'
  Created wheel for python-slugify: filename=python_slugify-4.0.1-py2.py3-none-any.whl size=6772 sha256=fdac62396f533b86694dc310d94c55e2239a52df29ed57b1168d21fa77baa9dc
  Stored in directory: c:\users\mirim\appdata\local\pip\cache\wheels\91\4d\4f\e740a68c215791688c46c4d6251770a570e8dfea91af1acb5c
Successfully built kaggle python-slugify
Installing collected packages: text-unidecode, python-slugify, kaggle
Successfully installed kaggle-1.5.12 python-slugify-4.0.1 text-unidecode-1.3

In [10]:
# kaggle version
!kaggle --version

Kaggle API 1.5.12

In [12]:
!kaggle competitions download -c titanic

Downloading titanic.zip to C:\JupyterLab\20_Pandas

  0%|          | 0.00/34.1k [00:00<?, ?B/s]
100%|##########| 34.1k/34.1k [00:00<00:00, 2.06MB/s]

In [13]:
!kaggle datasets download -d mczielinski/bitcoin-historical-data

Downloading bitcoin-historical-data.zip to C:\JupyterLab\20_Pandas

  0%|          | 0.00/100M [00:00<?, ?B/s]
  2%|1         | 2.00M/100M [00:00<00:09, 10.5MB/s]
  3%|2         | 3.00M/100M [00:00<00:09, 10.4MB/s]
  4%|3         | 4.00M/100M [00:00<00:09, 10.4MB/s]
  6%|5         | 6.00M/100M [00:00<00:09, 11.0MB/s]
  8%|7         | 8.00M/100M [00:00<00:09, 10.5MB/s]
 10%|9         | 10.0M/100M [00:01<00:09, 10.3MB/s]
 11%|#         | 11.0M/100M [00:01<00:09, 10.2MB/s]
 13%|#2        | 13.0M/100M [00:01<00:08, 10.6MB/s]
 14%|#3        | 14.0M/100M [00:01<00:08, 10.4MB/s]
 16%|#5        | 16.0M/100M [00:01<00:08, 10.4MB/s]
 18%|#7        | 18.0M/100M [00:01<00:08, 10.4MB/s]
 19%|#8        | 19.0M/100M [00:01<00:08, 10.3MB/s]
 20%|#9        | 20.0M/100M [00:02<00:08, 10.1MB/s]
 22%|##1       | 22.0M/100M [00:02<00:07, 10.3MB/s]
 24%|##3       | 24.0M/100M [00:02<00:07, 10.7MB/s]
 26%|##5       | 26.0M/100M [00:02<00:07, 10.8MB/s]
 28%|##7       | 28.0M/100M [00:02<00:06, 11.0MB/s]
 30%|##9       | 30.0M/100M [00:02<00:06, 10.7MB/s]
 32%|###1      | 32.0M/100M [00:03<00:06, 10.7MB/s]
 34%|###3      | 34.0M/100M [00:03<00:06, 10.2MB/s]
 36%|###5      | 36.0M/100M [00:03<00:06, 10.8MB/s]
 38%|###7      | 38.0M/100M [00:03<00:05, 11.1MB/s]
 40%|###9      | 40.0M/100M [00:03<00:05, 10.7MB/s]
 42%|####1     | 42.0M/100M [00:04<00:05, 11.0MB/s]
 44%|####3     | 44.0M/100M [00:04<00:05, 11.0MB/s]
 46%|####5     | 46.0M/100M [00:04<00:05, 10.3MB/s]
 48%|####7     | 48.0M/100M [00:04<00:04, 11.0MB/s]
 50%|####9     | 50.0M/100M [00:04<00:04, 10.7MB/s]
 52%|#####1    | 52.0M/100M [00:05<00:04, 10.8MB/s]
 54%|#####3    | 54.0M/100M [00:05<00:04, 10.6MB/s]
 56%|#####5    | 56.0M/100M [00:05<00:04, 10.8MB/s]
 58%|#####7    | 58.0M/100M [00:05<00:04, 10.6MB/s]
 60%|#####9    | 60.0M/100M [00:05<00:04, 10.2MB/s]
 62%|######1   | 62.0M/100M [00:06<00:03, 10.6MB/s]
 64%|######3   | 64.0M/100M [00:06<00:03, 10.7MB/s]
 66%|######5   | 66.0M/100M [00:06<00:03, 11.0MB/s]
 68%|######7   | 68.0M/100M [00:06<00:03, 10.6MB/s]
 70%|######9   | 70.0M/100M [00:06<00:02, 10.8MB/s]
 72%|#######1  | 72.0M/100M [00:07<00:02, 11.1MB/s]
 74%|#######3  | 74.0M/100M [00:07<00:02, 10.9MB/s]
 76%|#######5  | 76.0M/100M [00:07<00:02, 10.8MB/s]
 78%|#######7  | 78.0M/100M [00:07<00:02, 10.8MB/s]
 80%|#######9  | 80.0M/100M [00:07<00:01, 11.1MB/s]
 82%|########1 | 82.0M/100M [00:08<00:01, 10.9MB/s]
 84%|########3 | 84.0M/100M [00:08<00:01, 10.9MB/s]
 86%|########5 | 86.0M/100M [00:08<00:01, 11.1MB/s]
 88%|########7 | 88.0M/100M [00:08<00:01, 10.8MB/s]
 90%|########9 | 90.0M/100M [00:08<00:01, 10.6MB/s]
 92%|#########1| 92.0M/100M [00:09<00:00, 8.87MB/s]
 94%|#########3| 94.0M/100M [00:09<00:00, 9.68MB/s]
 95%|#########4| 95.0M/100M [00:09<00:00, 9.45MB/s]
 97%|#########6| 97.0M/100M [00:09<00:00, 9.99MB/s]
 99%|#########8| 99.0M/100M [00:09<00:00, 9.96MB/s]
100%|##########| 100M/100M [00:09<00:00, 10.7MB/s]
100%|##########| 100M/100M [00:09<00:00, 10.6MB/s]